---
import { db, Comment, Course } from 'astro:db';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import LanguageButton from '../components/LanguageButton.astro';

const comments = await db.select().from(Comment);
const courses = await db.select().from(Course);
console.log('courses', courses);
---

<Layout title='Lingo'>
	<main class='w-full'>
		<div class='max-w-screen-lg mx-auto px-4'>
			<h1 class='text-3xl font-bold underline'>Hello world!</h1>
			{
				comments.map(({ authorId, body }) => (
					<article>
						<p>Author: {authorId}</p>
						<p>{body}</p>
					</article>
				))
			}
		</div>
		<footer class='w-full'>
			<div
				class='max-w-screen-lg mx-auto flex items-center justify-evenly h-full px-4'
			>
				{
					courses.map((course) => {
						return (
							<LanguageButton
								altText={course.title}
								name={course.title}
								imagePath={
									'/src/assets/images' + course.imageSrc
								}
							/>
						);
					})
				}
			</div>
		</footer>
	</main>
</Layout>
